body{
    padding: 20px;
    background-color: red;
}

.row{
    display: flex;
    height: 200px;
}

.col{
    width: 200px ;
    border: 1px solid #000;
}


.images{
 
  width: 800px; 
  height: 1000px;
  margin-left: 1050px;
  margin-top: -1050px;

}